<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" prefix="og: http://ogp.me/ns#">
  <head>
    <title>
      {{projectName}}
    </title>

    <meta name="viewport" content="width=device-width, user-scalable=no">

    <link type="text/css" href="/styles/main.css" rel="stylesheet">
  </head>

  <body>
  {{> @partial-block }}
  </body>
</html>
