<div class="visible-phone mobile-nav-container">
  <ul class="mobile-nav">
    <li class="mobile-nav-item"><a href="/">Home</a></li>
    <li class="mobile-nav-item"><a href="/#projects">Projects</a></li>
    <li class="mobile-nav-item"><a href="/blog">Blog</a></li>
  </ul>
</div>

<div class="hidden-phone">
  <div class="nav">
    <a id="panhandle" href="/">
      Panhandle
    </a>

    <ul class="nav-pills">
      <a href="/blog">
        <li>Blog</li>
      </a>
    </ul>
  </div>
</div>
