{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">The First Blog Post</h1>

    <article class="blog-post-content">
        <p>This is a sample blog post.</p>
        <blockquote>
            <p>You can use Markdown and HTML.</p>
        </blockquote>
        <iframe src="http://example.com/"></iframe>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">number one</span><span class="blog-post-tag">example</span></p>

    <p class="blog-post-created-at">Published January 11, 2020</p>

</div>

{{/base}}