{{#> base}}

<div class="blog-post-item-list">
    <h1 class="text-center">All Posts</h1>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/first.html">The First Blog Post</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">number one</span><span class="blog-post-tag">example</span></p>

        <p class="blog-post-item-created-at">Published January 11, 2020</p>
    </div>

{{/base}}