{{#> base}}

<div class="new-blog-post-container">
  <div class="even-columns-2">
    <div class="even-column">
      <input type="text" placeholder="Blog post title" id="new-post-title">
      <input type="text" placeholder="Blog post subtitle" id="new-post-subtitle">
    </div>
    <div class="even-column">
    </div>
  </div>
  <div class="even-columns-2">
    <div class="even-column">
      <textarea id="new-post-textarea" rows="25"></textarea>
    </div>
    <div class="even-column">
      <div id="rendered-markdown"></div>
    </div>
  </div>
  <div class="even-columns-2">
    <div class="even-column">
      <input type="text" placeholder="Tags (comma-separated)" id="new-post-tags">
    </div>
    <div class="even-column">
    </div>
  </div>
</div>

<div class="text-center">
  <button id="create-post">Create Post</button>
</div>

{{/base}}
